  <div class="fixed top-0 left-0 flex items-center justify-center w-full h-full opacity-0 pointer-events-none modal patient-modal">
    <div class="absolute w-full h-full modal-overlay-patient"></div>
    
    <div class="z-50 w-11/12 mx-auto overflow-y-auto bg-white border border-black shadow-lg rounded-2xl modal-container md:max-w-md">

      <div class="relative px-6 py-4 text-left modal-content">

				<div class="flex flex-col">
            <p class="mb-4 text-header">{{ "Patientin / Patient zuweisen"|t }}</p>
						<p class="text">{{ "Patient Body"|t }}</p>
            <div class="flex flex-col mt-4 mb-5">
              <a href="tel:+41415117011" class="self-center mb-2 modal-button">+41 41 511 70 11</a>
              <a href="mailto:info@sweet.skin" class="self-center modal-button">info@sweet.skin</a>
            </div>
				</div>
      </div>
    </div>
  </div>
